/* Font */
@font-face {
    font-family: PT;
    src: url(src/fonts/PT_Sans/PTSans-Regular.ttf);
}
* {
    font-family: PT;
}

/* Badges */
.badge{
    display:inline-block;
    color: whitesmoke;
    fill:whitesmoke;
    margin: 0 1px;
    padding: 0 3px;
    border-radius: 5px;
    position: relative;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.badge-ir {background-color:crimson;}
.badge-w {background-color:#741cb4;}
.badge-pcr{background-color: darkred;}
.badge-pool{background-color: black;}
.badge-ps{background-color:darkturquoise;}
.badge-bp{background-color:coral;}
.badge-ptt{background-color:darkgreen;}
.badge-mfp{background-color:#2e2eb3;}
.badge-reloc{background-color:slategray;}
.badge-bd{background-color:royalblue}
.badge-pa{background-color:#00898d}

.badgeMenu{
    position: absolute;
    border: solid black 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index:1;
}
.badgeMenu > div {
    display:flex;
    align-content: center;
    justify-content: center;
    margin: 2px;
    justify-content: space-around;
}
.badge-controls{
    height: 1em;
    width: 1em;
    background-size: 1em;
    border: 0.1em solid black;
    border-radius: 5px;
    background-repeat: no-repeat;
}
.badge-delete{
    background-image: url("./src/app-icons/cross-bold.svg");
}
.badge-close{
    background-image: url("./src/app-icons/return-chevron.svg");
}

/* Error handler messages */
.warn{
    margin: 0.5rem 0;
    border-radius: 5px;
    padding: 0.1rem 0.3rem;
}
.message-warn{
    color: #ffc75d;
    background-color: #6a5b0b;
}
.message-error{
    color: #ff9090;
    background-color: #5c0000;
}
.message-info{
    color: #00ef01;
    background-color: #2e6400;
}

/* Key bind */
.keyBind{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
}

/* Table */
td, th {
    border: 1px black solid;
    padding: 0 0.4rem;
}
tr:nth-child(even) {
    background-color: #E5E7E9;}
tr:hover {
    background-color: #85C1E9;
}
.centerCell {
    text-align: center;
}

/* Spacing */
#crewControls{margin: 0.5rem;}
#keyBind{margin: 1rem;}
button{margin: 0 0.1rem;}

/* Important style for hidden element. Must be last */
.hidden{display: none;}
.invisible{visibility:hidden}

/* Badge control button */
.showBadgeButton{
    position:relative;
    text-transform: uppercase;
}
.showBadgeButton:hover span{
    visibility:visible;
}
button, .showBadgeButton span{
    cursor: pointer;
}
.badgeButton{
    position: absolute;
    right: 0.2rem;
}

/* Upgrades and DF styles */
.upg {
    display: inline-block;
    color: whitesmoke;
    fill: whitesmoke;
    margin: 0 1px;
    padding: 0 3px;
    border-radius: 5px;
    font-weight: 900;
    width: 1.3em;
    text-align: center;
}
.upg-f{background-color:#c70632}
.upg-j{background-color:#2c3ed6}
.upg-w{background-color:#a01ee2}
.upg-y{background-color:#1d9d66}
.upg-table td:nth-child(2),.upg-table td:nth-child(3){
    text-align: right;
}
.df-table td:nth-child(2){
    text-align: right;
}
.lang-table td:nth-child(2), .lang-table td:nth-child(3), .lang-table td:nth-child(4){
    text-align: center;
}
.ramadan-table td:nth-child(3){
    text-align: center;
}
.upg-block{
    font-size: smaller;
}
.upg-wrapper{
    margin: 1em 1em;
    font-size: larger;
    padding: 0.5em;
}
.horizontal-flex{
    display: flex;
    gap: 1em;
    flex-direction: row;
}
.repeated { /* Repeated positions */
    background-color: #ff9090;
}


/* Settings toggles */
.toggle {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin-top: 0.2em;
}
.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    background-color: gray;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: green;
}
input:focus + .slider {
    box-shadow: 0 0 1px green;
}
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.settings{
    margin-top: 1em;
    padding: 0;
    height: 2em;
    width: 2em;
    background-image: url("./src/app-icons/settings.svg");
    background-size: 1.8em;
    border: 0.1em solid black;
    border-radius: 5px;
}

/* Bold borders for trips table sections */
#cardContainer td:first-child{
    border-left: 3px solid black;
}
#cardContainer td:nth-child(3), #cardContainer td:nth-child(5), #cardContainer td:nth-child(9), #cardContainer td:nth-child(11){
    border-right: 3px solid black;
}
#cardContainer tr:first-child td {
    border-top: 3px solid black;
}
#cardContainer tr:last-child td {
    border-bottom: 3px solid black;
}
.breaksCheckboxes {
    margin: 0 1px
}
.tableTab{
    border-radius: 8px 8px 0 0;
}

/* Dialog for manual W selection*/
::backdrop {
    backdrop-filter: blur(5px);
}
#crewList li {
    list-style-type: none;
}
#crewList {
    padding: 0;
}


/* Languages */
.lang {
    font-weight:bold;
}
.lang-arabic {
    color:darkorchid
}
.lang-third {
    color:deeppink
}


.smaller {
    font-size:x-small;
}